@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes blob1 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(30px, -30px) scale(1.1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes blob2 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(-30px, 30px) scale(1.1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes blob3 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(-30px, -30px) scale(1.1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animate-blob1 {
  animation: blob1 5s infinite;
}

.animate-blob2 {
  animation: blob2 5s infinite;
}

.animate-blob3 {
  animation: blob3 5s infinite;
}

.text-neon {
  color: #fff;
  animation: neon 1.5s infinite alternate-reverse;
}
